*.o
*.obj
*.mod
tests/bessel_driver1
tests/dp_acc_cmp_I.txt
tests/qp_acc_cmp_I.txt
tests/dp_acc_cmp_J.txt
tests/qp_acc_cmp_J.txt
tests/dp_acc_cmp_K.txt
tests/qp_acc_cmp_K.txt
tests/dp_acc_cmp_Y.txt
tests/qp_acc_cmp_Y.txt
tests/timing_summary_I.txt
tests/timing_summary_J.txt
tests/timing_summary_K.txt
tests/timing_summary_Y.txt
tests/per_point_times_I.txt
tests/per_point_times_J.txt
tests/per_point_times_K.txt
tests/per_point_times_Y.txt
